.contactContainer
{
    scroll-margin-top: 70px;
    margin-top: 30px;
}
.title
{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(39, 39, 39);
}

.content
{
    font-family: railWaiMedium;
    margin-top: 20px;
    max-width: 900px;
    color: #616161;
    margin: 0 auto;
   
    display: flex;
}
.content_1,.content_2
{
    width: 50%;
   
    
}
.content_1
{
    
    box-sizing: border-box;
    max-width: 400px;
    font-size: 1rem;
    
    padding-left: 10px;
}
.content_2
{
    box-sizing: border-box;
    
    position: relative;
    padding: 5px;
}

.content_2_input
{
    padding: 10px;
    width: 90%;
    
    border-radius: 5px;
    border: none;
    
    outline: none;
    border: 1px solid #17234D;

}
.content_2_textarea
{
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 1px solid #17234D;


}
.content_2_input_container
{
    margin-top: 20px;
}
.content_2_sendButton
{
    background-color: #17234D;
    color: white;
    font-size: 1.3rem;
    display: inline-block;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.content_text_special
{
    color: rgb(0, 142, 198);
}
.content_text_4
{
    display: flex;
    
    margin-top: 10px;
    flex-wrap: wrap;
}
@media (max-width: 600px) {
    .content
    {
        display: block;
    }
    .content_1,.content_2
    {
        width: 100%;
        
        
    }
    

}
