@font-face {
  font-family: railWaiLight;
  src: url(../public/Raleway-Light.ttf);
}
@font-face {
  font-family: railWaiMedium;
  src: url(../public/Raleway-Medium.ttf);
}
body
{
  font-family: railWaiLight;
  margin: 0;
  padding: 0;
}
